@import 'reset';
@import 'cores';
@import 'mobile';

.main {
    width: 100vw;
    // height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    // display: grid;
    justify-content: center;
    // grid-template-columns: repeat(5, 1fr);
    padding: 100px;
    gap: 20px;
    background-color: red;
}

.grid {
    padding: 20px;
    background-color: $Purple100;
    border-radius: 10px;
    

    max-width: 250px;

    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    img {
        max-width: 100%;
    }
}